name: Deploy

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Downcase Image Name
        run: |
          echo "IMAGE_REPO=${REGISTRY}/${IMAGE_NAME,,}" >> $GITHUB_ENV

      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./game-server/Dockerfile
          push: true
          tags: ${{ env.IMAGE_REPO }}/backend:latest

      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./web-client
          push: true
          tags: ${{ env.IMAGE_REPO }}/frontend:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy docker-compose to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "docker-compose.yml"
          target: ${{ secrets.DEPLOY_PATH }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            REGISTRY="ghcr.io"
            IMAGE_REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
            FULL_IMAGE_REPO="$REGISTRY/$IMAGE_REPO_LOWER"

            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            cd ${{ secrets.DEPLOY_PATH }}

            echo "IMAGE_REPO=$FULL_IMAGE_REPO" > .env
            echo "APP_DOMAIN=${{ secrets.APP_DOMAIN }}" >> .env
            echo "PROJECT_NAME=${{ secrets.PROJECT_NAME }}" >> .env

            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
